.container{
  height:100vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: url('http://localhost:3000/pattern.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.overlay{
  background-color: var(--blue);
  width:100%;
  height:100%;
  position: absolute;
  z-index:0;
  opacity: .3;
}

.form {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:32px 32px;
  width:380px;
  z-index: 1;
}

.grid {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  width:100%;
  grid-column-gap: 16px;
}

.img{
  margin-bottom:24px
}

.blue {
  color:var(--blue);
  margin-left:var(--size-1);
}

.brand{
  grid-column: 2/4;
}

.condition{
  grid-column: 1/3;
}