<main>
  <h1>Activate Account</h1>
  <p>An activision  email was sent to : </p>
  <strong>{{email}}</strong>
  <img src="/imgs/letter.svg" alt="Letter" width="50%">
  <footer>
    <a href="/signin">SIGN IN</a>
    <a href="/" id="inverse">HOME</a>
  </footer>

</main>