<main>
  <h1>Activated</h1>
  <p>Your account has been activated</p>
  <strong>{{email}}</strong>
  <img src="/imgs/activated.svg" alt="Letter" width="50%">
  <footer>
    <a href="/signin">SIGN IN</a>
    <a href="/" id="inverse">HOME</a>
  </footer>
</main>