<main class="home-container">
  <section>
    <header>
      <img src="/imgs/tires.svg" alt="LOGO">
      <h2>Express Tires</h2>
    </header>
    <h1>Inventory management</h1>
    <p>
      Inventory management saves you money and allows you to fulfill your
      customers' needs. In other words, it enables successful cost control of
      operations. Knowing what you have, what is in your warehouse, and
      how to manage the supply chain properly is the backbone of business.
    </p>
    <a href="/signin">GET STARTED</a>
  </section>
  <aside>
    <img src="/imgs/car.svg" width="80%" />
  </aside>
</main>