<header>
  <img src="/imgs/tires.svg" alt="LOGO">
  <h2>Express Tires</h2>
</header>
<form method="POST">
  <h1>Sign in</h1>
  {{!-- Email Input --}}
  <label>Email address</label>
  <input 
    type="email" name="email" required 
    spellcheck="false" autocomplete="off" 
    placeholder="erin@example.com"
    {{#if email}} value="{{email}}" {{/if}}
    {{#if errors.email}} class="error" {{/if}}
  >
  {{#if errors.email}} <small>{{errors.email}}</small> {{/if}}
  {{!-- Password Input --}}
  <label>Password</label>
  <input 
    type="password" name="password" 
    required minlength="8" maxlength="100"
    {{#if errors.password}} class="error" {{/if}}
    {{#if password}} value="{{password}}" {{/if}}
   >
  {{#if errors.password}} <small>{{errors.password}}</small> {{/if}}
  <a href="/recover" id="recover">Recover password</a>
  {{!-- Submit Button --}}
  <input type="submit" value="SIGN IN" style="margin-top:16px">
  <a href="/signup" id="link">
    Don't have an account ? <span>SIGN UP</span>
  </a>
</form>