<main>
  {{> navbar}}
  <h2>Tires metric sizing table</h2>
  <table>
    <tr>
      <th>DL</th>
      <th>SERIAL NUMBER</th>
      <th>CONDITION</th>
      <th>BRAND</th>
      <th>WIDTH</th>
      <th>PERCENTAGE</th>
      <th>WHEEL</th>
      <th>COUNT</th>
      <th>GROUP</th>
    </tr>
  </table>
</main>