h2{
  margin-top:var(--size-3);
  font-size: var(--size-3);
  font-weight: 200;
  letter-spacing: 1px;
  margin-left:15%;
}

table {
  margin-left:15%;
  margin-top:16px;
}

th{
  padding-right:24px;
}
