main{
  display:grid;
  grid-template-columns: 1fr 1fr;
  background-color:var(--white);
  height:100vh;
  position: relative;
}

section,aside{
  position: relative;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


header{
  display:flex;
  align-items: center;
  width:80%;
  position: absolute;
  padding: 0;
  margin: 0;
  top:var(--size-3);
}
h2{
  font-size:var(--size-3);
  font-weight: 300;
  letter-spacing: 2px;
  margin-left: 8px;
}

h1{
  font-size:var(--size-5);
  font-weight: 300;
  width:80%;
  color:var(--blue);
  letter-spacing: 2px;
  margin-bottom: 0;
}



p{
  width:80%;
  font-size:var(--size-3);
  font-weight:200;
  line-height: var(--size-4);
  margin:0;
  margin-bottom:var(--size-2);
  margin-top:var(--size-1)
}

a{
  align-self:flex-start;
  margin-left:10% !important;
  letter-spacing: 2px;
}
